$tb-primary: #00284d;
$tb-secondary: #e6e7e8;
$tb-color-complemntary: #4D2500;
$tb-color-mono1: #004873;
$tb-color-mono2:#0068A6;
$tb-color-analogous1: #00024D;
$tb-color-analogous2: #004D4B;

$tb-text-primary: #212529;

$white: #ffffff;
$black: #000000;