// When importing the master, you leave out the underscore, and it
// will look for a file with the underscore. This prevents the SCSS
// compiler from generating a CSS file from it.
@import "styles/variables/colors";
@import "styles/variables/screens";
@import "styles/mixins/_mixins.scss";
@import "styles/placeholders/placeholders";

body {
  margin: 0;
  font-family: 'Assistant','Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

/* TODO look up good css styling */
.app-body {
  background-color: $tb-secondary;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.content-body{
  @extend %tb-box-shawdow;
  background-color: $white;
  min-height: 100vh;
  margin: 20px;
  text-align: center;
}

@media (max-width: $media-sm-max){
  .content-body{
    margin: 0px;
  }
  .sound-wave{
    width:100%;
  }
}

.tb-quote {
  @extend %tb-box-shawdow;
  color:$tb-text-primary;
  margin-bottom:3px;
}
.tb-jumbotron{
  @extend %tb-box-shawdow;
  background-color: $tb-primary;
  color: $tb-secondary;
  margin:20px 5px 15px 5px;
  text-align: center;
}

.tb-center{
  display: inline-block
}

.sound-wave{
  @extend %tb-box-shawdow;
  width:60%;
  height:100%;
  border-radius: 22px;
}

#tb-form{
  margin-bottom: 15px;
}

.tb-form-field{
  padding:10px;
  border-bottom: 1px solid $black;
  margin: 15px;
}

// Use mixen or placeholder.. or both!! 
.tb-icon{
  @include icons($tb-primary);
}

.tb-icon-hover{
  @include icons($tb-secondary);
  background-color:$tb-primary;
  cursor: pointer;
}

.tb-preview-container {
  margin-top: 16px;
};

.tb-preview {
  display: inline-flex;
  border: 1px solid $tb-secondary;
  width: 150px;
  height: 150px;
  padding: 4px;
  overflow: hidden;
};

.tb-height-100 {
  height: 100%;
};

.tb-error-p {
  margin-bottom: 0px;
}

.tb-badge-url-input{
  width:100%;
}

.tb-badge-image{
  @extend %tb-box-shawdow;
  width: 100%;
  margin-top: 20px;
  border-radius: 15%;
}

.tb-bottom-margin-10{
  margin-bottom: 10px;
}

.tb-bottom-margin-15{
  margin-bottom: 15px;
}

.tb-margin-15{
  margin: 15px;
}

.tb-margin-side-none{
  margin-left: 0px;
  margin-right: 0px;
}

.tb-margin-auto{
  margin: auto
}

.tb-box-shawdow{
  @extend %tb-box-shawdow;
}

.tb-text-align-center{
  text-align: center;
}

.tb-width-100{
  width: 100%
}

.tb-display-flex{
  display: flex;
}

.tb-cta {
  border-radius: 4px;
  // background: linear-gradient(to right,$tb-primary,$tb-color-mono1) !important;
  background: linear-gradient(to right,$tb-color-mono1, $tb-color-mono2) !important;
  // background:green !important;
  // canva.com/colors/color-wheel
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  padding: 16px;
  transition: all 0.4s;
  cursor: pointer;
  margin: 5px;
}
.tb-cta span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}
.tb-cta span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.tb-cta:hover span {
  padding-right: 25px;
  color: white
}
.tb-cta:hover span:after {
  opacity: 1;
  right: 0;
}
.navbar-brand{
  letter-spacing: 0.1em;
  padding-left: .625rem;
}